/* round corner notification message */
.uk-notification-message {
	border-radius: 15px;
	border: 1px solid white;
}

/* Logo */
.uk-logo {
	color:grey;
}

.uk-logo-background {
	height:50px;
}

/* Header */
.uk-navbar-container:not(.uk-navbar-transparent) {
	z-index:999;
	height:80px;
}

.uk-offcanvas-bar {
	padding-left:10px;
}

.uk-close-color {
	color:black;
}

/* Datatables editor form width */
div.DTE_Body div.DTE_Body_Content div.DTE_Field {
	padding: 5px 5%;
}

div.DTE_Body div.DTE_Body_Content div.DTE_Field.full > label {
	width:100%;
	text-align: left;
	padding-bottom: 10px;
	font-weight:900;
}

div.DTE_Body div.DTE_Body_Content div.DTE_Field > div.DTE_Field_Input {
	float: right;
	/* width: 1078px; */
	width:100%;
}


div.DTED_Lightbox_Wrapper {
	/* width: 1400px; */
	width:90%;

	/* margin-left = width / 2 */
	margin-left: -45%; 
	
	z-index: 990;
} 

div.DTE_Field_Type_radio > div.DTE_Field_Input > div.DTE_Field_InputControl > div > div {
	float: left;
	/* width: 100px; */
	width:100%;
	/* margin-right:40px; */
}

div.DTE_Body div.DTE_Body_Content div.DTE_Field.full {
	padding:5px;
}

div.DTE_Body_Content {
	height: 100vh;
}

/* Ckeditor */
.ck-editor__editable_inline {
    min-height: 500px;
}

/* Custom class */
.divider-20 {
	height: 20px;
}

.logo {
	text-decoration: none;
}

.uk-animation-slow {
	display: flex;
	animation-duration: 2s;
}

body {
	font-size: 14px;
}
