.clock-day:before {
  content: var(--timer-day);
}
.clock-hours:before {
  content: var(--timer-hours);
}
.clock-minutes:before {
  content: var(--timer-minutes);
}
.clock-seconds:before {
  content: var(--timer-seconds);
}

.digitialClockContainer {
  font-family: 'Montserrat', 'sans-serif';
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-container {
  /* margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 20px; */
  display: flex;
}
.clock-col {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

.clock-col:not(:last-child):before {
  top: 35%;
}
.clock-col:not(:last-child):after {
  top: 50%;
}
.clock-timer:before {
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
}

.clock-label {
  color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  /*font-size: .7rem;*/
  font-size: 12px;
  margin-top: 10px;
}

@media (max-width: 825px) {
  .clock-container {
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* .clock-col + .clock-col {
    margin-top: 20px;
  } */
  .clock-col:before, .clock-col:after {
    display: none !important;
  }
}
