/* Background Image Media Queries */
.loginBackground {
	background-image: url('https://picsum.photos/640/700/');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hideImage {
	display: none;
	position:fixed;
	top: 0px;
	left: 0px;
	width: 5px;
	height: 5px;
}

.logo {
	display:none
}